- title(t('views.users.sign_up'),true)

.span16
   = form_for @user do |f|
      = f.error_messages
      .fieldset
         .clearfix
            = f.label :username
            .input
               = f.text_field :username, :class => 'xlarge'
         .clearfix
            = f.label :email
            .input
               = f.text_field :email, :class => 'xlarge'
         .clearfix
            = f.label :password
            .input
               = f.password_field :password, :class => 'xlarge' 
         .clearfix
            = f.label :password_confirmation
            .input
               = f.password_field :password_confirmation, :class => 'xlarge' 
         .actions
            = f.submit "Sign Up", :class => "btn primary"